

.pagediv{
    width: 100%;
}
.page1table{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    
    background-color: rgb(192, 96, 37);
    
    
}

thead{
    display: flex;
    
    
}
.theadtr{
    
    display: flex;
    flex-grow: 1;
}
.th1{
    width: 33%;
    flex-grow: 1;
    text-align: center;
    
}
.th2{
    width: 33%;
    flex-grow: 1;
    text-align: center;
}
.th3{
    width: 33%;
    flex-grow: 1;
    text-align: center;
}


.page1tbody{
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: inherit;
    

    background-color:  rgb(5, 20, 20);
    align-content: space-between;
    
}
tr{
    display: flex;
    border: 5px solid;
   border-radius: 5px;
}


.page1{
    border: 5px solid;
    border-radius: 5px;
   width: 33%;
    background-color: rgb(202, 136, 43);
    text-align: center;
}
.page2{
    border: 5px solid;
    border-radius: 5px;
    width: 33%;
    background-color: rgb(150, 138, 176);
    text-align: center;
}
.page3{
    border: 5px solid;
    border-radius: 5px;
    width: 33%;
   
    background-color: rgb(47, 165, 212);
    text-align: center;
}

.page4{
    border: 5px solid;
    border-radius: 5px;
    width: 33%;
   
    background-color: rgb(232, 31, 20);
    text-align: center;
}
.page5{
    border: 5px solid;
    border-radius: 5px;
    width: 33%;
   
    background-color: rgb(15, 229, 79);
    text-align: center;
}

